<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <header class="fondo-header">
        <img src="/images/logo-mercado-liebre.svg" alt="logo" width="50%">
        <div style="padding-left:20px;"><input type="text" placeholder="Buscar productos, marcas"></div>
        <div style="padding-left:20px;"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></div>
        <div class="comprar"><i class="fa-sharp fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</div>
        <nav>
            <ul style="list-style: none; padding: 0;">
                <li><a href="ofertas.html" class="link">Ofertas</a></li>
                <li><a href="tiendas-oficiales.html" class="link">Tiendas Oficiales</a></li>
                <li><a href="vender.html" class="link">Vender</a></li>
                <li><a href="ayuda.html" class="link">Ayuda </a></li>
            </ul>
        </nav>
        <nav>
            <ul style="list-style: none; padding: 0;">
                <li><a href="crear-cuenta.html" class="link">Creá tu cuenta <i class="fa-sharp fa-solid fa-address-card"></i></a></li>
                <li><a href="ingresar.html" class="link">Ingresá <i class="fa-sharp fa-solid fa-right-to-bracket"></i></a></li> 
                <li><a href="mis-compras.html" class="link">Mis compras <i class="fa-sharp fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main> 
        <section>
            <h2>Basado en tu ultima visita</h2>
            <img width="320" height="auto" src="/images/img-cafetera-moulinex.jpg" alt="cafetera moulinex">
            <p class="precio">$6.770</p>
            <p class="desc">40% OFF</p>
            <p class="desc"><strong>Cafetera moulinex</strong></p>

            <img width="320" height="auto" src="/images/img-macbook-pro-2019.jpg" alt="macbook pro">
            <p class="precio">$230.000</p>
            <p class="desc">20% off</p>
            <p class="desc"><strong>MacBook Pro 2019</strong></p>

            <img width="320" height="auto" src="/images/img-samsung-galaxy-s10.jpg" alt="samsung galaxy s10">
            <p class="precio">$70.500</p>
            <p class="desc">10% off</p>
            <p class="desc"><strong>Samsung Galaxy S10</strong></p>
            
            <img width="320" height="auto" src="/images/img-tv-samsung-smart.jpg" alt= "tv samsung smart">
            <p class="precio">$23.200</p>
            <p class="desc">5% off</p>
            <p class="desc"><strong>SmartTv Samsung 43"</strong></p>

        </section>

        <section>
            <h2>Seccion de ofertas</h2>
            <img width="320" height="auto" src="/images/img-cafetera-moulinex.jpg" alt="cafetera moulinex">
            <p class="precio">$6.770</p>
            <p>40% OFF</p>
            <p><strong>Cafetera moulinex</strong></p>

            <img width="320" height="auto" src="/images/img-macbook-pro-2019.jpg" alt="macbook pro">
            <p class="precio">$230.000</p>
            <p>20% off</p>
            <p><strong>MacBook Pro 2019</strong></p>

            <img width="320" height="auto" src="/images/img-samsung-galaxy-s10.jpg" alt="samsung galaxy s10">
            <p class="precio">$70.500</p>
            <p>10% off</p>
            <p><strong>Samsung Galaxy S10</strong></p>
            
            <img width="320" height="auto" src="/images/img-tv-samsung-smart.jpg" alt= "tv samsung smart">
            <p class="precio">$23.200</p>
            <p>5% off</p>
            <p><strong>SmartTv Samsung 43"</strong></p>

            
        </section>

    </main>
    <footer class="clases-footer">
        <article>
            <i class="fa-sharp fa-solid fa-credit-card"></i>
            <h2>Paga con tarjeta o en efectivo</h2>
            <p> Con MercadoLiebreCash, tienes cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro! </p>
        </article>
        
        <article>
            <i class="fa-sharp fa-solid fa-gift"></i>
            <h2>Envio gratis desde los $2.500</h2>
            <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos</p>
        </article>

        <article>
            <i class="fa-sharp fa-solid fa-user-shield"></i>
            <h2>Seguridad de principio a fin</h2>
            <P>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estas siempre protegid@.</P>
        </article>
        <p style="text-align:left;">Copyright 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>